(
    droplet_radius: 2.0,
    tea_particles_for_victory: 10,
    screen_size_in_tiles: (32, 16),
    physics: (
        water: (
            max_particles: 100,
            friction: 0.0,
            restitution: 0.01,
        ),
        gravity: 100.0,
        brewing_temperature: 1.0,
    ),
    sound: (
        general: 1.0,
        music: 0.2,
        sfx: 0.5,
    ),
    credits: (
        assets: [
        ("Bevy Logo", "All rights reserved by the Bevy Foundation, permission granted for splash screen use when unmodified" ),
        ],
        devs: [
        ( "RynKitty", "caudiciform"),
        ( "olekspickle", "juls"),
        ( "PaleGreySky", "Rabbival"),
        ]
    )
)
