({
    "Scale": (
        cost: 42,
        is_dynamic: false,
        subassemblies: [
            Sprite(
                sprite_asset_path: "textures/pipe_fore.png",
            ),
            Sprite(
                layer: Background,
                sprite_asset_path: "textures/pipe_back.png",
            ),
            Collider(
                mesh_image_path: "textures/pipe_collider.png",
            )
        ],
    ),
    "WaterEmitter": (
        cost: 1,
        is_dynamic: false,
        subassemblies: [
            WaterEmitter(
                spawn_rate: 10.0,
                initial_speed_min: 20.0,
                initial_speed_max: 50.0,
                initial_angle_deg_min: 45.0,
                initial_angle_deg_max: 160.0,
                particle_lifetime_s: 10.0,
                particle_gravity_scale: 1.0,
            )
        ]
    )
})
