({
    "Scale": (
        cost: 42,
        is_dynamic: false,
        subassemblies: [
            Sprite(
                sprite_asset_path: "textures/pipe_fore.png",
            ),
            Sprite(
                layer: Background,
                sprite_asset_path: "textures/pipe_back.png",
            ),
            Collider(
                mesh_image_path: "textures/pipe_collider.png",
            )
        ],
    ),
})
