[
    "It is such a nice day today!\nIt's time to show my students the real sense of Zen!\n\nWait...Wha-",

    "The Zen master has been kidnapped by a dark order.
    His apprentices know where he is, but to rescue him, they must first regain their clarity and focus.
    For that... they need the master's ancient energizing tea.",

    "Ah, young leaf... though I am far away, my wisdom still steeps in your spirit.",

    "To help my students rescue me, I must brew the ancient tea. Not just any leaves in hot water - no, no. This tea is a path, a puzzle, a purpose.
    Each level, you will gather ingredients into sacred cups. The right tea, the right way.",

    "Here’s how you play:
    Combine ingredients using the tools before you.",

    "Follow the sacred recipe. No shortcuts—precision is peace.",

    "When the tea is true will your mind.

    Now breathe... and begin."
]
