(
    name: "Level 5: Seeing both sides",
    zen_points: 10000,
    available_machine_parts: [
        "Wood Block",
        "Wood Ramp",
        "Pipe",
        "PipeTurn",
        "Funnel",
        "Red Ball",
        "Fan",
    ],
    initial_machine_parts: [
        (
            name: "Milk Glass",
            context: (
                position: (-240.0, 176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (0.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Cabinet Small",
            context: (
                position: (256.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-240.0, -32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (0.0, -48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Cabinet Small",
            context: (
                position: (-256.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (240.0, -32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Tea Container",
            context: (
                position: (-32.0, 96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Tea Container",
            context: (
                position: (32.0, 96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (240.0, 32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (-240.0, 32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Milky Tea Mug",
            context: (
                position: (240.0, -112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (-240.0, -112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (-0.0, 144.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-240.0, 112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (0.0, 80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (0.0, 16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Wood Block",
            context: (
                position: (0.0, -112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
    ],
)
