(
    name: "",
    zen_points: 4000,
    available_machine_parts: [
        "WaterEmitter",
        "HeatSource",
        "Pipe",
        "PipeTurn",
        "Funnel",
        "Tea bag",
    ],
    initial_machine_parts: [
        (
            name: "Big Table",
            context: (
                position: (-48.0, -288.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-256.0, 0.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (96.0, 112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (-48.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
    ],
)