(
    name: "Level 1: The first",
    zen_points: 4000,
    available_machine_parts: [
        "WaterEmitter",
        "MilkEmitter",
        "HeatSource",
        "Pipe",
        "PipeTurn",
        "Funnel",
        "Tea bag",
        "Red Ball",
        "Conveyor",
        "Wood Ramp",
        "Wood Block",
        "Fan",
    ],
    initial_machine_parts: [
        (
            name: "Black Tea Mug",
            context: (
                position: (-32.0, -64.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (96.0, 80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (32.0, -64.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Big Table",
            context: (
                position: (-0.0, -160.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-112.0, 0.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (128.0, 48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (-112.0, 32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Fluid Filter",
            context: (
                position: (32.0, 96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
    ],
)