(
    name: "Level 2: On a different level",
    zen_points: 4000,
    available_machine_parts: [
        "Wood Block",
        "Wood Ramp",
        "Pipe",
        "PipeTurn",
        "Funnel",
    ],
    initial_machine_parts: [
        (
            name: "Shelf",
            context: (
                position: (16.0, -16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-160.0, -96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (16.0, 16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Tea Container",
            context: (
                position: (208.0, 112.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (176.0, 64.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (-192.0, -48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Conveyor",
            context: (
                position: (-192.0, -80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Conveyor",
            context: (
                position: (208.0, 80.0, 10.0),
                rotation_index: 1,
                flipped: true,
            ),
        ),
    ],
)
