(
    name: "",
    zen_points: 400,
    initial_machine_parts: [
        (
            part_type: "WaterEmitter",
            position: (-32.0, 288.0),
            rotation: 0,
            flip: 0,
        ),
    ],
)
