(
    name: "Level 3: The third",
    zen_points: 4000,
    available_machine_parts: [
        "Wood Block",
        "Wood Ramp",
        "Pipe",
        "PipeTurn",
        "Funnel",
        "Red Ball",
        "Fan",
    ],
    initial_machine_parts: [
        (
            name: "Shelf",
            context: (
                position: (112.0, 80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Tea Container",
            context: (
                position: (32.0, -16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (16.0, -48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (144.0, -16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (-144.0, -96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (16.0, 80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Cabinet Small",
            context: (
                position: (-144.0, -160.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (-16.0, 48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Big Table",
            context: (
                position: (400.0, -288.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (304.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
    ],
)