(
    name: "Level 2: The second",
    zen_points: 4000,
    available_machine_parts: [
        "WaterEmitter",
        "HeatSource",
        "Pipe",
        "Tea bag",
    ],
    initial_machine_parts: [
        (
            name: "Shelf",
            context: (
                position: (160.0, -16.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (160.0, 96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (16.0, 48.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Shelf",
            context: (
                position: (16.0, -64.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (48.0, 80.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Tea Container",
            context: (
                position: (48.0, -32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Cabinet Small",
            context: (
                position: (-192.0, -160.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Black Tea Mug",
            context: (
                position: (-192.0, -96.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Water Glass",
            context: (
                position: (304.0, -176.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Big Table",
            context: (
                position: (400.0, -288.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Fan",
            context: (
                position: (176.0, 16.0, 10.0),
                rotation_index: 3,
                flipped: false,
            ),
        ),
        (
            name: "Fan",
            context: (
                position: (176.0, 128.0, 10.0),
                rotation_index: 3,
                flipped: false,
            ),
        ),
        (
            name: "Red Ball",
            context: (
                position: (160.0, 144.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
        (
            name: "Red Ball",
            context: (
                position: (160.0, 32.0, 10.0),
                rotation_index: 0,
                flipped: false,
            ),
        ),
    ],
)